.mass-import-dialog .form-group label {
    font-weight: bold;
    color: var(--color-text-dark-primary);
}

.mass-import-dialog .form-header {
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-border-dark-secondary);
    color: var(--color-text-dark-primary);
    font-size: var(--font-size-16);
    font-family: var(--font-header);
    padding-bottom: 3px;
    margin-top: 10px;
}

.mass-import-dialog .form-header:first-child {
    margin-top: 0;
}

.mass-import-dialog .notes {
    font-size: var(--font-size-12);
    color: var(--color-text-dark-secondary);
    margin-bottom: 5px;
    font-style: italic;
}

.mass-import-dialog .picker-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Align checkboxes nicely in row */
.mass-import-dialog .form-fields label.checkbox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0;
    white-space: nowrap;
}

/* Compact input spacing */
.mass-import-dialog .form-fields > * {
    margin-right: 5px;
}
.mass-import-dialog .form-fields > *:last-child {
    margin-right: 0;
}